<%# MODIFIED FILE: Injects Assigned Contact selection into issue edit/create form %>
<div class="splitcontent">
  <div class="splitcontentright">
    <p>
      <%= label_tag :assigned_contact_id, l(:field_assigned_to) %>
      <%= select_tag 'assigned_contact_id',
            options_from_collection_for_select(Contact.visible.order(:last_name, :first_name), 'id', 'name', @issue.contacts.try(:first).try(:id)),
            include_blank: true %>
    </p>
  </div>
  <%= javascript_tag "console.log('Assigned Contact form rendered');" %>
</div>